body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

a {
  text-decoration-line: none;
  color: inherit;
}

button {
  font-family: inherit;
  padding: 8px;
}

.products-container {
  max-width: 1200px;
  margin-top: 24px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  margin-inline: auto;
  display: grid;
  padding: 16px;
}

.product {
  background-color: #fff;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  overflow: hidden;
  border: 2px solid #898989;
  padding: 16px;
}

.title-container {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 12px;
}

.product h3 {
  margin: 0; /* Remove default margin to avoid extra space */
  line-height: 1.2; /* Adjust line height as needed */
  max-height: 2.4em; /* (line-height * number of lines) to limit to two lines */
  text-overflow: ellipsis;
  white-space: normal; /* Allow text to wrap */
  font-size: 1rem;
}

.product-image {
  height: 160px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.price-rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta-container {
  display: flex;
  gap: 8px;
}

.cta-container button {
  width: 50%;
  cursor: pointer;
}

.product a:hover {
  text-decoration-line: underline;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 2px solid #898989;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;
  gap: 24px;
  max-width: 1200px;
  margin-inline: auto;
}

.searchbar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

form input {
  padding: 8px;
  font: inherit;
  max-width: 400px;
  width: 100%;
  flex-grow: 1;
}

form button {
  cursor: pointer;
  font: inherit;
  margin-left: 8px;
}

.price {
  font-size: 24px;
  margin: 0;
}

.cart-container {
  max-width: 1200px;
  margin-inline: auto;
}

.cart-container h2 {
  text-align: center;
  margin: 32px 0;
}

.cart-header {
  font-weight: 700;
  padding: 24px;
}

.cart-item-container:not(:last-child) {
  border-bottom: 1px solid #898989;
}

.cart-item-container {
  padding: 12px 24px;
  display: grid;
  gap: 16px;
  grid-template-columns: 4fr 1fr 1fr 1fr;
}

.cart-item-container > div:not(.cart-item) {
  justify-content: center;
}

.cart-item-container > div:last-child {
  justify-content: flex-end;
}

.cart-item-container img {
  width: 60px;
}

.cart-item-container > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cart-icon {
  position: relative;
}

.cart-items-count {
  position: absolute;
  font-size: 12px;
  background-color: black;
  border-radius: 100%;
  color: white;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 50%;
  transform: translate(-40%, -90%);
}
